<!-- HEADER WITH FEEDBACK ICON -->
<header class="header">
  <mat-toolbar color="primary">
    <button 
      mat-button
      (click)="toggleDebugInformation()"
    >
      <mat-icon>build</mat-icon>
    </button>

    <div class="logo">
      <button 
        mat-icon-button 
        color="warn"  
        (click)="feedback(2000, 'I am glad that you like it!', 'LOVE')" 
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <span>Angular Value Accessor</span>
    </div>

    <div class="info">
      <button mat-button (click)="showInformation()">
        <mat-icon>info</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</header>

<!-- FORM Block-->
<form 
  class="form center"
  autocomplete="off"
  *ngIf="reactiveForm"
  [formGroup]="reactiveForm"
  (ngSubmit)="submitValues()"
>
  <!-- Input Component -->
  <app-input 
    [parentForm]="reactiveForm"
    label="Input field"
  ></app-input>

  <!-- Dropdown Component -->
  <app-dropdown
    [parentForm]="reactiveForm"
    label="Dropdown List"
  ></app-dropdown>

  <!-- Password Field (defined in ReactiveForm Component)-->
  <div class="parent-form">
    <p>ReactiveForm Component</p>
    <mat-form-field appearance="fill">
      <mat-label>
        {{ passwordLabel }}
      </mat-label>
      <input 
        matInput
        placeholder="Type ..."
        formControlName="password" 
      >
      <button
        mat-icon-button 
        matSuffix 
        (click)="passwordStatus = !passwordStatus"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="passwordStatus"
      >
        <mat-icon>
          {{ passwordStatus ? 'visibility_off' : 'visibility' }}
        </mat-icon>
      </button>
    </mat-form-field>
  </div>

  <!-- Textarea Field (defined in ReactiveForm Component)-->
  <div class="parent-form">
    <p>ReactiveForm Component</p>
    <mat-form-field 
      appearance="fill" 
      color="primary" 
      [hintLabel]="hintLabel"
    >
      <mat-label>{{ textareaLabel }}</mat-label>
      <textarea 
        matInput 
        formControlName="textarea" 
        placeholder="Type ..."
        [maxlength]="textareaMaxLength"
      >
      </textarea>
      <mat-hint align="end">{{ textarea.value?.length || 0 }} / 250</mat-hint>
    </mat-form-field>
  </div>

  <footer>
    <button
      [disabled]="reactiveForm.invalid"
      mat-raised-button
      class="formBtn"
      color="primary"
      (click)="feedback(2000, 'You have successfully submitted the form!', 'SUCCESS')"
    >
      Submit
    </button>
  
    <p
      *ngIf="reactiveForm.invalid" 
      class="warning"
    >
      {{ reactiveFormError }}
    </p>
  </footer>
</form>

<div
  class="debug"
  *ngIf="debugBtnStatus"
  style="text-align: center;"
>
  <h2>Debug Tool</h2>
  <p>
    {{ reactiveForm.value | json }}
  </p>
</div>
